extends layout

block content
    h1 Edit task
    form(method="post")
        .form-group
            label(for='taskTitle') Task title
            input#taskTitle.form-control(name='task', type='text', placeholder='Task title', value="#{task.task}")
        .form-group
            label(for='taskDetails') Task description
            textarea#taskDetails.form-control(name='details', rows='6')= task.details
        button.btn.btn-primary(type="submit") Save task
        a.btn.btn-danger(href="/task-list") Cancel
